{% extends "base.html" %}
{% block content %}
<h2>Add Organisation</h2>
<form method="POST" enctype="multipart/form-data">
    Name*: <input type="text" name="Name" required><br>
    Description: <textarea name="Description"></textarea><br>
    Contact Person: <input type="text" name="ContactPerson"><br>
    Email: <input type="email" name="Email"><br>
    Password: <input type="password" name="Password"><br>
    Phone: <input type="text" name="Phone"><br>
    Address: <input type="text" name="Address"><br>
    Website: <input type="url" name="Website"><br>
    Logo: <input type="file" name="Logo"><br>
    <button type="submit">Add Organisation</button>
</form>
{% endblock %}
