{% extends "base.html" %}
{% block content %}
<h2>Add Event</h2>
<form method="POST">
    Name*: <input type="text" name="Name" required><br>
    Description: <textarea name="Description"></textarea><br>
    Date: <input type="date" name="Date"><br>
    Start Time: <input type="time" name="StartTime"><br>
    End Time: <input type="time" name="EndTime"><br>
    Location: <input type="text" name="Location"><br>
    Status: <input type="text" name="Status"><br>
    Organisation*: 
    <select name="OrganisationID" required>
        {% for o in orgs %}
            <option value="{{ o.OrganisationID }}">{{ o.Name }}</option>
        {% endfor %}
    </select><br>
    <button type="submit">Add Event</button>
</form>
{% endblock %}
