{% extends "base.html" %}
{% block content %}
<h2>Add Volunteer</h2>
<form method="POST" enctype="multipart/form-data">
    First Name*: <input type="text" name="FirstName" required><br>
    Last Name*: <input type="text" name="LastName" required><br>
    Email*: <input type="email" name="Email" required><br>
    Password*: <input type="password" name="Password" required><br>
    Phone: <input type="text" name="Phone"><br>
    Address: <input type="text" name="Address"><br>
    Date of Birth: <input type="date" name="DateOfBirth"><br>
    Availability: <input type="text" name="Availability"><br>
    Emergency Contact: <input type="text" name="EmergencyContact"><br>
    Profile Photo: <input type="file" name="ProfilePhoto"><br>
    <button type="submit">Add Volunteer</button>
</form>
{% endblock %}
